body {
    font-family: Arial, sans-serif;
    background-image: url('./business-team-meeting-boardroom.jpg'); /* Replace 'background-image.jpg' with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #3498db;
}

/* Apply styles to the Select All checkbox */
#selectAll {
    margin-bottom: 10px;
}

.add-task {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.task-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.add-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-button:hover {
    background-color: #c0392b;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.2s;
}

.task-item:hover {
    background-color: #f0f0f0;
}

.complete {
    margin-right: 10px;
}

.delete {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete:hover {
    background-color: #2980b9;
}

/* Style task count and completed count elements */
#task-count,
#completed-count {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}
